<header id="navigation" class="p-navigation">
    <div class="p-navigation__row--25-75" style="margin: 0px;">
        <div class="p-navigation__banner">
            <div class="p-navigation__tagged-logo">
                <a class="p-navigation__link" href="../index.html">
                    <span class="p-navigation__logo-title" style="color: white;">Planetae</span>
                </a>
            </div>
            <a style="color: white;" href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
            <a style="color: white;" href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
        </div>
        <nav class="p-navigation__nav" aria-label="Example sub navigation" style="padding-left: 20px;">
            <ul class="p-navigation__items">
                <li>
                    <a style="color: white;" href="../index.html" class="p-navigation__dropdown-item">Home</a>
                </li>
                <li>
                    <a style="color: white;" href="../calculadora-recisao.html" class="p-navigation__dropdown-item">Calculadora Recisão</a>
                </li>
                <li>
                    <a style="color: white;" href="../calculadora-investimentos.html" class="p-navigation__dropdown-item disabled">Calculadora Investimentos - Em breve</a>
                </li>
                <li>
                    <a style="color: white;" href="../calculadora-financiamento.html" class="p-navigation__dropdown-item disabled">Calculadora Financiamento - Em breve</a>
                </li>
            </ul>
        </nav>
    </div>
</header>